.contacto h2 {
    margin-bottom: 20px;
}

.contacto input[type="text"]
.contacto input[type="email"]
.contacto textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.contacto input[type="text"]:focus,
.contacto input[type="email"]:focus,
.contacto textarea:focus{
    border-color: #ee0808;
    outline: none;
}

.contacto button[type="submit"] {
    background: #ee0808;
    color:  #492020;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0,3s;
}

.contacto button[type="submit"]:hover {
    background: #441414;
}